#track {
    height: 400px;
    background-color: moccasin;
    overflow: scroll;
}

.result-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.hidden {
    visibility: hidden;
}